<div class="row">
  <div class="col-md-8 offset-md-2">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sr No</th>
          <th>Name</th>
          <th>Department</th>
          <th>Attachment</th>
          <th>Date</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of empArr; index as i" [id]="emp.id">
          <td>{{ i + 1 }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.department }}</td>
          <td>{{ emp.attachment }}</td>
          <td>{{ emp.date }}</td>
          <td>
            <button
              type="button"
              [routerLink]="['table', emp.id, 'edit']"
              class="btn btn-primary"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              type="button"
              (click)="onRemoveEmp(emp.id)"
              class="btn btn-danger"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
